{% extends 'admin/base.html.twig' %}

{% block title 'Les Articles' %}


{% block body %}
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tous les utilisateurs</h4>
                        <div class="heading-elements">
                            <a href="{{ path('app_admin_user_add') }}" type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1">Ajouter</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table alt-pagination customer-wrapper">
                                <thead>
                                <tr>
                                    <th>Nom & Prénoms</th>
                                    <th>Nom d'ulisateurs</th>
                                    <th>Adresse Email</th>
                                    <th>Nbre de publications</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if users %}
                                    {% for user in users %}
                                    <tr>
                                        <td class="align-middle">
                                            <div class="name">{{ user.fullName }}</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="email"><i class="la la-user"></i>{{ user.username }}</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="last-email"><i class="la la-envelope-o"></i>{{ user.email }}</div>
                                        </td>
                                        <td class="align-middle">
                                           5
                                        </td>
                                        <td class="align-right">
                                            <div class="option">
                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                <a href="#"><i class="la la-trash danger"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorscss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
{% endblock %}

{% block vendorsjs %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
{% endblock %}

{% block pagesjs  %}
    <script src="{{ asset('app-assets/js/scripts/pages/support-customers.js') }}"></script>

{% endblock %}
