{% extends 'website/base.html.twig' %}
{#{% set itemsPerRow = 2 %}
<ul>
    {% for item in items %}
    {% if loop.index0 % itemsPerRow == 0 %}
    {% if loop.index0 > 0 %}</ul></li>{% endif %}
    <li><ul>{% endif %}
<li>{{ item }}</li>
{% if loop.last or loop.index0 % itemsPerRow == itemsPerRow-1 %}</ul></li>{% endif %}
  {% endfor %}
</ul>#}
{% block body %}
    <div class="theme-page padding-bottom-100">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>{{ option.displayTitle }}</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li><a title="Home" href="{{ path('app_home_page') }}">Accueil</a></li>
                            <li class="separator">&#47;</li>
                            <li>{{ option.displayTitle }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                {{ include('website/_partials/blog-right-side.html.twig') }}
                <div class="column column-3-4">
                    <div class="column column-3-4">
                        {% if pagination %}
                            {% for post in pagination.data %}
                                {% if loop.index0 % 2 == 0 %}<ul class="blog small clearfix">{% endif %}
                                    <li class="column column-1-2">
                                        <a href="#" title="{{ post.title }}" class="post-image">
                                            <div class="post-date">
                                                <h4>{{ post.updateAt | date("d") }}</h4>
                                                <div class="month uppercase">{{ post.updateAt | date("F") }}</div>
                                                <div class="month uppercase">{{ post.updateAt | date("Y") }}</div>
                                            </div>
                                            <img  src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                                        </a>
                                <h3><a href="#">{{ post.title }}</a></h3>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li>{{ post.updateAt | date("d F Y") }}</li>
                                        <li>par <a href="#" title="{{ post.author.fullName }}">{{ post.author.fullName }}</a></li>
                                    </ul>
                                </div>
                                <p>{{ post.contentDescription }} <br> <a target="_blank" href="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(post, 'firstDocumentFile')) }}" title="{{ post.firstDocument }}">Télécharger</a></p>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li class="template-display"><a href="#">{{ post.count }}</a></li>
                                        <li class="template-comment"><a href="#" title="{{ post.comments.count }} commentaires">{{ post.comments.count }}</a></li>
                                    </ul>
                                </div>
                            </li>
                                {% if loop.index0 % 2 !=0 or loop.last %}</ul>{% endif %}
                            {% endfor %}
                        {#<ul class="blog small clearfix">
                            <li class="column column-1-2">
                                <a href="?page=post" title="How to: deep clean your kitchen" class="post-image">
                                    <div class="post-date">
                                        <div class="month">AUG</div>
                                        <h4>24</h4>
                                    </div>
                                    <img src="images/samples/480x320/placeholder.jpg" alt="">
                                </a>
                                <h3><a href="?page=post">How to: deep clean your kitchen</a></h3>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li>August 24, 2017</li>
                                        <li>in <a href="?page=category&amp;cat=house_cleaning" title="House Cleaning">House Cleaning</a></li>
                                        <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                    </ul>
                                </div>
                                <p>Donec lacus neque luctus ut tortor eu pharetra congue lectus. Vivamus lobortis diam sed dolor feugiat, ut finibus risus vehicula vitae lectus ac elit auctor consequat. Nullam semper turpis quis turpis ornare sed aliquam risus venenatis... <a href="?page=post" title="Read more">Read more</a></p>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li class="template-display"><a href="?page=post">250</a></li>
                                        <li class="template-comment"><a href="?page=post#comments-list" title="3 comments">3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="column column-1-2">
                                <a href="?page=post" title="10 ways to save more &amp; waste less" class="post-image">
                                    <div class="post-date">
                                        <div class="month">AUG</div>
                                        <h4>22</h4>
                                    </div>
                                    <img src="images/samples/480x320/placeholder.jpg" alt="">
                                </a>
                                <h3><a href="?page=post">10 ways to save more &amp; waste less</a></h3>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li>August 22, 2017</li>
                                        <li>in <a href="?page=category&amp;cat=commercial_cleaning" title="Commercial Cleaning">Commercial Cleaning</a></li>
                                        <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                    </ul>
                                </div>
                                <p>Donec lacus neque luctus ut tortor eu pharetra congue lectus. Vivamus lobortis diam sed dolor feugiat, ut finibus risus vehicula vitae lectus ac elit auctor consequat. Nullam semper turpis quis turpis ornare sed aliquam risus venenatis... <a href="?page=post" title="Read more">Read more</a></p>
                                <div class="post-content-details-container clearfix">
                                    <ul class="post-content-details">
                                        <li class="template-display"><a href="?page=post">350</a></li>
                                        <li class="template-comment"><a href="?page=post#comments-list" title="5 comments">5</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>#}
                            {{ pagination.display() }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
