{% extends 'admin/base.html.twig' %}

{% block title 'Nouvel article' %}


{% block body %}
<section id="striped-row-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="striped-row-layout-basic">{% if post is not defined %}Création {% else %} Modification {% endif %} d'un article</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'form form-horizontal striped-rows form-bordered'}}) }}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="form-section"><i class="ft-user"></i> Titre</h4>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.title, null,{'label_attr': {'class': 'col-md-3 label-control'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.page, null,{'label_attr': {'class': 'col-md-3 label-control'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.page, {'attr': {'class': 'form-control'}}) }}
                                                <div class="danger">
                                                    {{ form_errors(form.page) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.categories, null,{'label_attr': {'class': 'col-md-3 label-control'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.categories, {'attr': {'class': 'form-control select2'}}) }}
                                                {{ form_errors(form.categories) }}
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto last">
                                            {{ form_label(form.metaDescription, null,{'label_attr': {'class': 'col-md-3 label-control'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.metaDescription, {'attr': {'class': 'form-control'}}) }}
                                                <div class="danger">
                                                    {{ form_errors(form.metaDescription) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="form-section"><i class="ft-file"></i> {{ form_label(form.imageFile) }}</h4>
                                        <div class="form-group row mx-auto upload">
                                            {{ form_widget(form.imageFile) }}
                                            <output></output>
                                        </div>
                                        <div class="danger">
                                            {{ form_errors(form.imageFile) }}
                                        </div>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.isActive, null, {'label_attr': {'class': 'col-md-4 label-control'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.isActive, {'attr': {'class': 'custom-control custom-check mr-1 mt-1'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto last">
                                            {{ form_label(form.isPublished, null, {'label_attr': {'class': 'col-md-4 label-control'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.isPublished, {'attr': {'class': 'custom-control custom-check mr-1 mt-1'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="form-section"><i class="ft-file-text"></i> Contenu</h4>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.contentIntro, null, {'label_attr': {'class': 'col-md-2 label-control'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.contentIntro) }}

                                                <div class="danger">
                                                    {{ form_errors(form.contentIntro) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.contentDescription, null, {'label_attr': {'class': 'col-md-2 label-control'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.contentDescription) }}

                                                <div class="danger">
                                                    {{ form_errors(form.contentDescription) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            {{ form_label(form.content, null, {'label_attr': {'class': 'col-md-2 label-control'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.content) }}

                                                <div class="danger">
                                                    {{ form_errors(form.content) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto last">
                                            {{ form_label(form.quote, null, {'label_attr': {'class': 'col-md-2 label-control'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.quote, {'attr': {'class': 'form-control'}}) }}
                                                <div class="danger">
                                                    {{ form_errors(form.quote) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions text-center">
                                <a href="{{ path('app_admin_post') }}" class="btn btn-warning mr-1">
                                    <i class="ft-x"></i> Annuler
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Enregistrer
                                </button>
                            </div>
                        {{ form_row(form._token) }}
                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app-assets/vendors/css/uploader/upload.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app-assets/vendors/js/uploader/upload.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/editors/ckeditor/ckeditor.js') }}"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor 4
        // instance, using default configuration.
        CKEDITOR.replace( 'post_content' );
        CKEDITOR.replace( 'post_contentIntro' );
        CKEDITOR.replace( 'post_contentDescription' );
        CKEDITOR.replace( 'post_quote' );
    </script>
{% endblock %}


