{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">A propos de nous</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Home" href="{{ path('app_home_page') }}">Accueil</a></li>
                        <li class="separator">&#47;</li>
                        <li>A propos de nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <ul class="features-list">
                    <li class="column column-1-3">
                        <div class="icon features-person"></div>
                        <h4 class="transform">Qui sommes nous ?</h4>
                        <p>Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif qui vise à coordonner les actions entre ses membres et à promouvoir le partenariat entre ceux-ci et les organisations nationales et internationales de développement.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-task"></div>
                        <h4 class="transform">Que faisons nous ?</h4>
                        <p>Les activités de la faîtière sont: la coordination, la planification, la mise en œuvre  et le suivi-évaluation des projets/programmes d’envergure nationale et régionale; la représentation des membres auprès des pouvoirs publics et des partenaires internationaux.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-home-4"></div>
                        <h4 class="transform">Quel est notre mission?</h4>
                        <p>La mission de l’UONGTO est de renforcer les capacités et le professionnalisme des OSC au Togo ; de coordonner et accompagner les OSC dans le renforcement de l’impact de leurs actions ; et d'œuvrer à maximiser l’efficacité de la participation des OSC à la bonne gouvernance et à l’amélioration de leur environnement.</p>
                    </li>
                </ul>
            </div>
            <div class="row page-margin-top-section">
                <div class="column column-1-2">
                    <div class="row">
                        <a href="{{ asset('assets/images/img/bg-about-1.jpg') }}" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='{{ asset('assets/images/img/bg-about-1.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <div class="column column-1-2">
                            <a href="{{ asset('assets/images/img/bg-about-1.jpg') }}" class="prettyPhoto cm-preload" title="Move In Out Services">
                                <img src='{{ asset('assets/images/img/bg-about-1.jpg') }}' alt=' uongto-image 1'>
                            </a>
                        </div>
                        <div class="column column-1-2">
                            <a href="{{ asset('assets/images/img/bg-about-1.jpg') }}" class="prettyPhoto cm-preload" title="uongto-image 1">
                                <img src='{{ asset('assets/images/img/bg-about-1.jpg') }}' alt='img'>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column column-1-2">
                    <div class="row padding-left-right-30">

                        <h2 class="box-header align-left">Notre objectifs</h2>
                        <p class="description">Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif, la faitière à pour objectif</p>
                        {% if goals is defined and goals is not null %}
                        <ul class="list margin-top-20">
                            {% for goal in goals %}
                                <li class="template-tick-1">{{ goal.description | raw }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if thematics is defined and thematics is not null %}
                        <h4 class="margin-top-40">Nos Thémathiques:</h4>
                        <ul class="list margin-top-20">
                            {% for thematic in thematics %}
                            <li class="template-tick-1" title="{{ thematic.title | raw }}">{{ thematic.title | raw }}</li>
                            {% endfor %}
                        </ul>
                        {% endif  %}
                    </div>
                </div>
            </div>

            {% if personalities is defined and personalities is not null %}
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">Notre équipe Technique</h2>
                    <p class="description align-center">Permettez nous vous introduire ici l'équipe technique dédiée au soutien<br> et à l'accompagnement des organisations des membres de l'Union des ONG du Togo,<br> notre équipe travaille avec passion et détermination pour fournir des solutions innovantes<br> et adaptées auxquels sont confrontées les ONG membres</p>
                    <ul class="team-list gray margin-top-65 clearfix">
                        {% for personality in personalities %}
                        <li class="team-box column column-1-3">
                            <a href="#" title="{{ personality.fullName }}" class="image-box">
                                <img alt="{{ personality.fullName }}" src="{% if app.environment == "prod" %}/public{% endif %}{{ asset(vich_uploader_asset(personality, 'imageFile')) }}">
                            </a>
                            <h4><a href="#" title="{{ personality.fullName | raw }}">{{ personality.fullName | raw }}</a></h4>
                            <p>{{ personality.office | raw }}</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="{{ personality.twitterUrl | raw }}" class="social-twitter" title="twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{ personality.facebookUrl | raw }}" class="social-facebook" title="facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{ personality.linkedinUrl | raw }}" class="social-linkedin" title="linkedIn"></a>
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="{{ path('app_team_page') }}" title="All our technicians">Le Conseil d'Administration de UONGTO</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row full-width page-margin-top-section page-padding-top-section padding-bottom-100 parallax parallax-3 overlay">
                <div class="row">
                    <ul class="services-list services-icons clearfix">
                        <li class="column column-1-3">
                            <span class="service-icon big features-credit-card tick"></span>
                            <h4>Un coordanateur des projets</h4>
                            <p>La faitière coordonne, planifie, et met en oeuvre le suivi-évaluation des projets/programmes d’envergure nationale et régionale </p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-pet tick"></span>
                            <h4>Un représentant des membres</h4>
                            <p>La faitière représente, les membres auprès des pouvoirs publics et des partenaires internationaux </p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-delivery tick"></span>
                            <h4>Un chargé de plaidoyer</h4>
                            <p>La faitière assure le lobbying et de plaidoyer pour l’émergence d’une société civile forte pouvant influencer les politiques publiques.</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% if partners is defined and partners is not null %}
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>Nos partenaires</h3>
                        <div class="our-clients-list-container margin-top-40 type-list">
                            <ul class="our-clients-list gray type-list">
                                {% for partner in partners %}
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="{{ partner.url }}">
                                                <img src="{% if app.environment=="prod" %}/public{% endif %}{{ asset(vich_uploader_asset(partner, 'imageFile')) }}" alt="{{ partner.name }}">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if testimonials is defined and testimonials is not null %}
                    <div class="column column-1-2">
                        <h3>Les avis des partenaires</h3>
                        <div class="row testimonials-container type-small margin-top-40">
                            <div class="cm-carousel-pagination"></div>
                            <ul class="testimonials-list testimonials-carousel gray autoplay-0 pause_on_hover-1">
                                {% for testimonial in testimonials %}
                                <li>
                                    <p class="template-quote">{{ testimonial.content | raw }}</p>
                                    <div class="author-details-box">
                                        <div class="author">{{ testimonial.title }}</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
