{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">A propos de nous</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Home" href="{{ path('app_home_page') }}">Accueil</a></li>
                        <li class="separator">&#47;</li>
                        <li>A propos de nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <ul class="features-list">
                    <li class="column column-1-3">
                        <div class="icon features-person"></div>
                        <h4 class="transform">Qui sommes nous ?</h4>
                        <p>Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif qui vise à coordonner les actions entre ses membres et à promouvoir le partenariat entre ceux-ci et les organisations nationales et internationales de développement.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-task"></div>
                        <h4 class="transform">Que faisons nous ?</h4>
                        <p>Les activités de la faîtière sont: la coordination, la planification, la mise en œuvre  et le suivi-évaluation des projets/programmes d’envergure nationale et régionale; la représentation des membres auprès des pouvoirs publics et des partenaires internationaux.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-home-4"></div>
                        <h4 class="transform">Quel est notre mission?</h4>
                        <p>La mission de l’UONGTO est de renforcer les capacités et le professionnalisme des OSC au Togo ; de coordonner et accompagner les OSC dans le renforcement de l’impact de leurs actions ; et d'œuvrer à maximiser l’efficacité de la participation des OSC à la bonne gouvernance et à l’amélioration de leur environnement.</p>
                    </li>
                </ul>
            </div>
            <div class="row page-margin-top-section">
                <div class="column column-1-2">
                    <div class="row">
                        <a href="{{ asset('assets/images/img/bg-about-1.jpg') }}" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='{{ asset('assets/images/img/bg-about-1.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <div class="column column-1-2">
                            <a href="images/samples/480x320/placeholder.jpg" class="prettyPhoto cm-preload" title="Move In Out Services">
                                <img src='images/samples/370x246/placeholder.jpg' alt='img'>
                            </a>
                        </div>
                        <div class="column column-1-2">
                            <a href="images/samples/480x320/placeholder.jpg" class="prettyPhoto cm-preload" title="After Renovation Cleaning">
                                <img src='images/samples/370x246/placeholder.jpg' alt='img'>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column column-1-2">
                    <div class="row padding-left-right-30">
                        <h2 class="box-header align-left">WHO WE ARE</h2>
                        <p class="description">Founded in 1995 Cleanmate quickly built a reputation as one of the leading providers of residential cleaning solutions.</p>
                        <p class="padding-0 margin-top-27">Our continuous pursuit for perfection has resulted in consistent growth each year. Our focus is to really listen to our clients, understand their needs and provide the exceptional level of residential and commercial cleaning or maid service that makes them relax with the confidence that the job will be done well. Our cleaning services are thorough, consistent and customized.</p>
                        <h4 class="margin-top-40">OUR MISSION IS TO:</h4>
                        <ul class="list margin-top-20">
                            <li class="template-tick-1">Offer a different kind of services to families and professionals</li>
                            <li class="template-tick-1">Deliver high quality and consistent services</li>
                            <li class="template-tick-1">Use environmentall friendly cleaning products</li>
                            <li class="template-tick-1">Provide stable jobs with resonable wages</li>
                            <li class="template-tick-1">Concentrate our resources on maintaining standards</li>
                            <li class="template-tick-1">Make you an extremely satisfied customer</li>
                        </ul>
                    </div>
                </div>
            </div>
            {#<div class="row full-width gray flex-box page-margin-top-section">
                <div class="column column-1-2 background-2">
                    <a class="flex-hide" href="#" title="Window Cleaning">
                        <img src="{{ asset('assets/images/img/bg-about-1.jpg') }}" alt="">
                    </a>
                </div>
                <div class="column column-1-2 padding-bottom-96">
                    <div class="row padding-left-right-100">
                        <h2 class="box-header align-left margin-top-89">REASONS TO CHOOSE US</h2>
                        <p class="description">Cleanmate opperates in Ottawa and provides a variety of cleaning services. Choose us because of our reputation for excellence.</p>
                        <div class="row page-margin-top">
                            <ol class="features-list">
                                <li class="column column-1-2">
                                    <span class="list-number">1</span>
                                    <h4>SPARKLING CLEAN</h4>
                                    <p>We keep your home sparkling clean and germ free. Our disinfecting process kills 99% of common bacteria and viruses.</p>
                                </li>
                                <li class="column column-1-2">
                                    <span class="list-number">2</span>
                                    <h4>LEADING TECHNOLOGIES</h4>
                                    <p>We use safe hospital-grade disinfectants, HEPA filtrations and microfiber cleaning cloths.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="row page-margin-top">
                            <ol class="features-list">
                                <li class="column column-1-2">
                                    <span class="list-number">3</span>
                                    <h4>INSURED AND BONDED</h4>
                                    <p>Our cleaners are insured and bonded so no need to worry about your apartment.</p>
                                </li>
                                <li class="column column-1-2">
                                    <span class="list-number">4</span>
                                    <h4>RELIABLE CREWS</h4>
                                    <p>Our reliable and stable crews understand your specific clearning service needs.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">Notre équipe Technique</h2>
                    <p class="description align-center">Our team is our most valuable resource. All of our cleaning technicians have earned professional<br>cleaner certification through maid training academy.</p>
                    <ul class="team-list gray margin-top-65 clearfix">
                        <li class="team-box column column-1-3">
                            <a href="#" title="Karisma Taruda" class="image-box">
                                <img alt="Karisma Taruda" src="{{ asset('assets/images/img/user/ca-datagni.jpg') }}">
                            </a>
                            <h4><a href="?page=team_karisma_taruda" title="Karisma Taruda">KARISMA TARUDA</a></h4>
                            <p>Co-Founder, Office Manager</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-google-plus" title="google-plus"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_paige_morgan" title="Paige Morgan" class="image-box">
                                <img alt="Paige Morgan" src="{{ asset('assets/images/img/user/ca-issifou.jpg') }}">
                            </a>
                            <h4><a href="?page=team_paige_morgan" title="Paige Morgan">PAIGE MORGAN</a></h4>
                            <p>Cleaning Technican</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_celevic_parkhill" title="Celevic Parkhill" class="image-box">
                                <img alt="Celevic Parkhill" src="{{ asset('assets/images/img/user/ca-bemah.jpg') }}">
                            </a>
                            <h4><a href="?page=team_celevic_parkhill" title="Celevic Parkhill">BEMAH Gado</a></h4>
                            <p>Secretaire Général du CA</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-facebook" title="pinterest"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-linkedin" title="linkedin"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="{{ path('app_team_page') }}" title="All our technicians">Le Conseil d'Administration de UONGTO</a>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section page-padding-top-section padding-bottom-100 parallax parallax-3 overlay">
                <div class="row">
                    <ul class="services-list services-icons clearfix">
                        <li class="column column-1-3">
                            <span class="service-icon big features-credit-card tick"></span>
                            <h4>EASY PAYMENTS</h4>
                            <p>Easy payments via paypal or via credit card payment processing service.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-pet tick"></span>
                            <h4>PET FRIENDLY</h4>
                            <p>We us pet friendly cleaners as your pet is a valued member of your family.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-delivery tick"></span>
                            <h4>ALWAYS ON TIME</h4>
                            <p>Your time is important to us. We provide always on time cleaning service.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row full-width gray flex-box">
                <div class="column column-1-3 padding-bottom-96">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h4>Nos thématiques</h4>
                        {% if thematics is defined %}
                        <ul class="list margin-top-20">
                            {% for thematic in thematics %}
                            <li class="template-tick-1">{{ thematic.title }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="column column-1-3 background-3">
                    <a class="flex-hide" href="?page=project_gutter_cleaning" title="Gutter Cleaning">
                        <img src="images/samples/960x750/placeholder.jpg" alt="">
                    </a>
                </div>
                <div class="column column-1-3 padding-bottom-100 green">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h2 class="font-weight-300">Want to talk?</h2>
                        <h2>Please call now: <a href="tel:2507257052">250 725 7052</a></h2>
                        <p class="description margin-top-20">Need a special cleaning service? We are happy to fulfill every request in order to exceed your expectations.</p>
                        <div class="page-margin-top padding-bottom-16">
                            <a class="more" href="?page=contact" title="Contact form">Contact form</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-bottom-100 counters-group parallax parallax-2 overlay">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="295"></span>
                            <p>COMPLETED MOVINGS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="400"></span>
                            <p>HAPPY CUSTOMERS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="527"></span>
                            <p>COMPLETED PROJECTS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="105"></span>
                            <p>PLACES CLEANED</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>BRANDS WHO TRUST US</h3>
                        <div class="our-clients-list-container margin-top-40 type-list">
                            <ul class="our-clients-list gray type-list">
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_07.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_08.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_09.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_10.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_11.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="{{ asset('assets/images/logos/logo_12.png') }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column column-1-2">
                        <h3>CLIENT'S OPINIONS</h3>
                        <div class="row testimonials-container type-small margin-top-40">
                            <div class="cm-carousel-pagination"></div>
                            <ul class="testimonials-list testimonials-carousel gray autoplay-0 pause_on_hover-1">
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Stacey, North Lynnwood</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Mark, South Everett</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Anthony, Bellevue</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
