{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">Notre Histoire</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Accueil" href="{{ path('app_home_page') }}">Accueil</a></li>
                        <li class="separator">&#47;</li>
                        <li>Historique</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row margin-top-89 padding-bottom-36">
                <h2 class="box-header uppercase">Notre Histoire</h2>
                <p class="description align-center">Découvrez l'histoire de notre fédération d'ONG, <br>engagée depuis de nombreuses années dans des thématiques variées telles que la santé, l'éducation,<br> l'environnement ou encore l'aide humanitaire.</p>
                {% if histories is defined and histories is not null  %}
                    {% for historic in histories %}
                        <div class="timeline-item vertical-align-table {% if loop.first %}margin-top-65{% endif %} {% if loop.index % 2 !=0 %}right{% endif %} {% if loop.first  %}first{% endif %} {% if loop.last  %}last{% endif %}">
                            <div class="timeline-left vertical-align-cell">
                                <div class="label-container">
                                    <div class="animated-element animation-slideLeft10">
                                        <span class="label-triangle"></span>
                                        <label>{{ historic.year | raw }}</label>
                                    </div>
                                    <span class="timeline-circle animated-element animation-scale"></span>
                                </div>
                            </div>
                            <div class="timeline-content-container vertical-align-cell">
                                <div class="flex-container animated-element animation-slideRight10">
                                    <div class="timeline-arrow-container">
                                        <div class="timeline-arrow"></div>
                                    </div>
                                    <div class="timeline-content">
                                        <h4 class="clearfix">
                                            <span class="timeline-title uppercase">{{ historic.title | raw }}</span><span class="timeline-subtitle uppercase">{{ historic.subtitle | raw }}</span>
                                        </h4>
                                        <p>{{ historic.subtitle | raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
