{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">Les membres du Conseil d'Admninistrration de l'UONGTO</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Home" href="{{ path('app_home_page') }}">Accueil</a></li>
                        <li class="separator">&#47;</li>
                        <li>Qui est qui ?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body  %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">Le Conseil d'Administration</h2>
                    <p class="description align-center">Le conseil d'adminitration de l'UONGTO est élu pour <strong>un mandat de 3 ans</strong>.
                        <br> Ce conseil est constitué d'éminante personalité qui ont pour devoir de conduire l'institution</p>
                        {% if personalities is defined and personalities is not null %}
                            {% set counter = 1 %}
                            {% for personality in personalities %}
                                {% if counter == 1 %}<ul class="team-list gray margin-top-65 clearfix">{% endif %}
                                    <li class="team-box column column-1-3">
                                        <a href="#" title="{{ personality.fullName }}" class="image-box">
                                            <img alt="{{ personality.fullName }}" src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(personality, 'imageFile')) }}">
                                        </a>
                                        <h4><a href="#" title="{{ personality.fullName }}">{{ personality.fullName }}</a></h4>
                                        <p>{{ personality.office }}</p>
                                        <ul class="social-icons align-center">
                                            <li><a target="_blank" href="{{ personality.twitterUrl }}" class="social-twitter" title="twitter"></a></li>
                                            <li><a target="_blank" href="{{ personality.facebookUrl }}" class="social-facebook" title="facebook"></a></li>
                                            <li><a target="_blank" href="{{ personality.linkedinUrl }}" class="social-linkedin" title="facebook"></a></li>
                                        </ul>
                                    </li>
                                {% if counter == 3 or loop.last %}</ul> {% set counter = 1 %} {% else %} {% set counter = counter+1 %}{% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
            <div class="row full-width gray flex-box">
                <div class="column column-1-3 padding-bottom-96">
                    <div class="row padding-left-right-70 margin-top-89">
                        {% if thematics is defined and thematics is not null %}
                            <h4>Nos Thémathiques:</h4>
                            <ul class="list margin-top-20">
                                {% for thematic in thematics %}
                                    <li class="template-tick-1" title="{{ thematic.title | raw }}">{{ thematic.title | raw }}</li>
                                {% endfor %}
                            </ul>
                        {% endif  %}
                    </div>
                </div>
                <div class="column column-1-3 background-3">
                    <a class="flex-hide" href="#" title="Gutter Cleaning">
                        <img src="{{ asset('assets/images/img/bg-3.jpg') }}" alt="">
                    </a>
                </div>
                <div class="column column-1-3 padding-bottom-100 green">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h2 class="font-weight-300">Vous voulez nous joindre?</h2>
                        <h2>Appellez nous au : <a href="tel:+22870418785">(+228) 70 41 87 85</a></h2>
                        <p class="description margin-top-20">Avez vous besoins d'avoir plus d'explications sur le fonctionnement de la faitire ?</p>
                        <div class="page-margin-top padding-bottom-16">
                            <a class="more" href="{{ path('app_contact_page') }}" title="Contact form">Contacter nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
