{% extends 'admin/base.html.twig' %}

{% block title 'Les Articles' %}


{% block body %}
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tous les articles</h4>
                        <div class="heading-elements">
                            <a href="{{ path('app_admin_member_add') }}" type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1">Ajouter</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="table-responsive">
                            <table class="table alt-pagination customer-wrapper">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Abbréviations</th>
                                    <th>Nom complet </th>
                                    <th>Activé / Publié</th>
                                    <th>Année de création</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                               <tbody>
                               {% if members %}
                                   {% for member in members %}
                                       <tr>
                                           <td class="align-middle" width="20px">
                                               <div class="name">{{ member.id }}</div>
                                           </td>
                                           <td class="align-middle">
                                               <span class="avatar avatar-online"><img src="{{ vich_uploader_asset(member, 'imageFile') }}" alt="{{ member.image }}"></span>
                                           </td>
                                           <td class="align-middle">
                                               <div class="last-login">{{ member.shortName }}</div>
                                           </td>
                                           <td class="align-middle">
                                               <div class="tickets">{{ member.name }}</div>
                                           </td>
                                           <td>
                                               <fieldset><input type="checkbox" id="input-16" {% if member.isPublished == true %}checked {% else %} unchecked {% endif %}></fieldset>
                                           </td>
                                           <td class="align-middle" width="35px">
                                               <div class="tickets">
                                                   {{ member.year }}
                                               </div>
                                           </td>
                                           <td class="align-middle" width="20px">
                                               <div class="option">
                                                   <a href="{{ path('app_admin_member_edit', {'id': member.id}) }}"><i class="la la-pencil-square success"></i></a>
                                                   <a href="#" onclick="return confirm('Voulez vous vraiment supprimer')"><i class="la la-trash danger"></i></a>
                                               </div>
                                           </td>
                                       </tr>
                                   {% endfor %}
                               {% endif %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorscss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
{% endblock %}

{% block vendorsjs %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
{% endblock %}

{% block pagesjs  %}
    <script src="{{ asset('app-assets/js/scripts/pages/support-customers.js') }}"></script>
{% endblock %}
