{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">Nos Membres</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Home" href="{{ path('app_home_page') }}">Accueil</a></li>
                        <li class="separator">&#47;</li>
                        <li>Nos Membres</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
<div class="theme-page ">
    <div class="row full-width header-background header-background-1"></div>
    <div class="clearfix">
        <div class="row">
            <div class="column column-1-4 cm-smart-column">
                <div class="cm-smart-column-wrapper">
                    <h6 class="box-header page-margin-top">Les thématiques</h6>
                    <ul class="categories clearfix">
                        {% if thematics is defined %}
                            {% for thematic in thematics %}
                                <li><a href="#" title="{{ thematic.title }}">{{ thematic.title }}<span>{#{{ temathic.posts.count }}<#}</span></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <h6 class="box-header page-margin-top">Les régions</h6>
                    <ul class="categories clearfix">
                        {% if regions is defined %}
                            {% for region in regions %}
                                <li><a href="#" title="{{ region.title }}">{{ region.title }}<span>{#{{ temathic.posts.count }}<#}</span></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="column column-3-4">
                <div class="row full-width padding-bottom-100">
                    <div class="row">
                        {% if members is defined and members is not null %}
                            {% set counter = 1 %}
                            {% for member in members %}
                                {% if counter == 1 %}<ul class="team-list gray margin-top-65 clearfix">{% endif %}
                                <li class="team-box column column-1-3">
                                    <a href="#" title="{{ member.name }}" class="image-box">
                                        <img alt="{{ personality.fullName }}" src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(personality, 'imageFile')) }}">
                                    </a>
                                    <h4><a href="#" title="{{ member.name }}">{{ member.name }}</a></h4>
                                    <h2>ONG : {{ member.shortName }}</h2>
                                    <ul class="social-icons align-center">
                                        <li><a target="_blank" href="{{ member.url }}" class="social-weibo" title="weibo"></a></li>
                                        <li><a target="_blank" href="{{ member.twitterUrl }}" class="social-twitter" title="twitter"></a></li>
                                        <li><a target="_blank" href="{{ member.facebookUrl }}" class="social-facebook" title="facebook"></a></li>
                                        <li><a target="_blank" href="{{ member.linkedInUrl }}" class="social-linkedin" title="facebook"></a></li>
                                    </ul>
                                </li>
                                {% if counter == 3 or loop.last %}</ul> {% set counter = 1 %} {% else %} {% set counter = counter+1 %}{% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
