{% extends 'admin/base.html.twig' %}

{% block title 'Les Categories' %}


{% block body %}
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Toutes les categories</h4>
                        <div class="heading-elements">
                            <a href="{{ path('app_admin_category_add') }}" type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1">Ajouter</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table alt-pagination customer-wrapper">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Categorie</th>
                                    <th>Actif</th>
                                    <th>Publié</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if categories is defined %}
                                    {% for category in categories %}
                                        <tr>
                                    <td class="align-middle">
                                        <div class="name">{{ category.title }}</div>
                                    </td>
                                    <td class="align-middle">
                                        {% for option in category.types %}
                                            <div class="email">{{ option.title }}</div>
                                        {% endfor %}
                                    </td>

                                    <td class="align-middle">
                                        <div class="skin skin-flat">
                                            <fieldset>
                                                <input type="checkbox" id="input-16" {% if category.isActive == true %}checked {% else %} unchecked {% endif %}>
                                            </fieldset>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="skin skin-flat">
                                            <fieldset>
                                                <input type="checkbox" id="input-16" {% if category.isPublished== true %}checked {% else %} unchecked {% endif %}>
                                            </fieldset>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorscss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
{% endblock %}

{% block vendorsjs %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
{% endblock %}

{% block pagesjs  %}
    <script src="{{ asset('app-assets/js/scripts/pages/support-customers.js') }}"></script>
{% endblock %}
