<!-- BEGIN: Main Menu-->

<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_admin_board') }}">
                    <i class="la la-bank"></i><span>Tableau de bord</span>
                </a>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                    <i class="la la-edit"></i><span>Article</span>
                    {#<span class="badge badge badge-pill badge-warning float-right mt-0">4</span>#}
                </a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_post') }}" data-toggle=""><i class="la la-paragraph"></i><span data-i18n="Cards">Tous les articles</span></a></li>
                    <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_post_add') }}" data-toggle=""><i class="la la-plus-circle"></i><span data-i18n="Cards">Ajouter</span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                    <i class="la la-gear"></i><span>Outils</span>
                </a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_param') }}" data-toggle=""><i class="la la-gears"></i><span data-i18n="Cards">Général</span></a></li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-paperclip"></i><span data-i18n="Cards">Page</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_page') }}" data-toggle=""><span data-i18n="Toutes les pages">Toutes les pages</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_page_add') }}" data-toggle=""><span data-i18n="Ajouter">Ajouter</span></a></li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-pencil"></i><span data-i18n="Cards">Catégorie</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_category') }}" data-toggle=""><span data-i18n="Toutes les pages">Toutes les Catégories</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_category_add') }}" data-toggle=""><span data-i18n="Ajouter">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-pencil"></i><span data-i18n="Cards">Options</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_option') }}" data-toggle=""><span data-i18n="Toutes les pages">Toutes les Options</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_option_add') }}" data-toggle=""><span data-i18n="Ajouter">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-photo"></i><span data-i18n="Cards">Media</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_media') }}" data-toggle=""><span data-i18n="Tous les medias">Tous les médias</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_media_add') }}" data-toggle=""><span data-i18n="Ajouter">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-comments"></i><span data-i18n="Cards">Commentaires</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_comment') }}" data-toggle=""><span data-i18n="Tous les medias">Tous les commentaires</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_comment_add') }}" data-toggle=""><span data-i18n="Ajouter">Ajouter</span></a></li>
                        </ul>
                    </li>
                </ul>

            </li>

            <li class="nav-item"><a class="nav-link" href="{{ path('app_admin_user') }}"><i class="la la-users"></i><span>Les utilisateurs</span></a></li>
            <li class="dropdown nav-item" data-menu="dropdown"><a href="" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="la la-home"></i><span>Admin Panel</span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span data-i18n="Cards">Les régions</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="#" data-toggle=""><span data-i18n="Bootstrap">Toutes les régions</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="#" data-toggle=""><span data-i18n="Statistics">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span data-i18n="Cards">Les ONG</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_member') }}" data-toggle=""><span data-i18n="Bootstrap">Toutes les ONG</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_member_add') }}" data-toggle=""><span data-i18n="Statistics">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span data-i18n="Cards">Les Thématiques</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_thematic') }}" data-toggle=""><span data-i18n="Bootstrap">Tous les thématiques</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_thematic_add') }}" data-toggle=""><span data-i18n="Statistics">Ajouter</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span data-i18n="Cards">Les Personnalités</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_personality') }}" data-toggle=""><span data-i18n="Bootstrap">Tous les personnalités</span></a></li>
                            <li data-menu=""><a class="dropdown-item" href="{{ path('app_admin_personality_add') }}" data-toggle=""><span data-i18n="Statistics">Ajouter</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<!-- END: Main Menu-->
