{% extends 'website/base.html.twig' %}
{% block title  %}{% if option is defined %}{{ option.displayTitle }}{% endif %}{% endblock %}
{% block body %}
    <div class="theme-page padding-bottom-100">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>{{ option.displayTitle }}</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li><a title="Accueil" href="{{ path('app_home_page') }}">Accueil</a></li>
                            <li class="separator">&#47;</li>
                            <li>{{ option.displayTitle }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row">
                <div class="column column-3-4">
                    <ul class="blog clearfix">
                        {% if pagination %}
                            {% for post in pagination.data %}
                                <li>
                                    <a href="#" title="{{ post.title }}" class="post-image">
                                        <div class="post-date">
                                            <h4>{{ post.updateAt | date("d") }}</h4>
                                            <div class="month uppercase">{{ post.updateAt | date("F") }}</div>
                                            <div class="month uppercase">{{ post.updateAt | date("Y") }}</div>
                                        </div>
                                        <img  src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                                    </a>
                                    <h2><a href="{{ path('app_blog_single_page', {'pageCategory': pagination.pageCategory, 'slug': post.slug}) }}">{{ post.title }}</a></h2>
                                    <div class="post-content-details-container clearfix">
                                        <ul class="post-content-details left">
                                            <li>{{ post.updateAt | date("d F Y") }}</li>
                                            <li>par <a href="#" title="{{ post.author.fullName }}">{{ post.author.fullName }}</a></li>
                                        </ul>
                                        <ul class="post-content-details right">
                                            <li class="template-display"><a href="#">{{ post.count }}</a></li>
                                            <li class="template-comment"><a href="#" title="{{ post.comments.count }} commentaires">{{ post.comments.count }}</a></li>
                                        </ul>
                                    </div>
                                    <p>{{ post.contentDescription | raw }} <a href="{{ path('app_blog_single_page', {'pageCategory': pagination.pageCategory, 'slug': post.slug}) }}" title="Lire plus">Lire plus</a></p>
                                </li>
                            {% endfor %}

                    </ul>
                        {{ pagination.display() }}
                    {% endif %}
                </div>
                {{ include('website/_partials/blog-right-side.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
