{% extends 'website/base.html.twig' %}

{% block body %}
    <div class="theme-page padding-bottom-100">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>Actualités</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="?page=home">
                                    Accueil
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                Actualités
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="column column-3-4">
                    <ul class="blog clearfix">
                        {% if pagination %}
                            {% for post in pagination.data %}
                                <li>
                                    <a href="#" title="How to: deep clean your kitchen" class="post-image">
                                        <div class="post-date">
                                            <div class="month">AUG</div>
                                            <h4>24</h4>
                                        </div>
                                        <img  src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                    </a>
                                    <h2><a href="{{ path('app_new_single_page', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
                                    <div class="post-content-details-container clearfix">
                                        <ul class="post-content-details left">
                                            <li>{{ post.updateAt | date("F jS") }}</li>
                                            <li>par <a href="#" title="{{ post.author.fullName }}">{{ post.author.fullName }}</a></li>
                                        </ul>
                                        <ul class="post-content-details right">
                                            <li class="template-display"><a href="#">{{ post.count }}</a></li>
                                            <li class="template-comment"><a href="#" title="{{ post.comments.count }} commentaires">{{ post.comments.count }}</a></li>
                                        </ul>
                                    </div>
                                    <p>{{ post.quote }} <a href="{{ path('app_new_single_page', {'slug': post.slug}) }}" title="Lire plus">Lire plus</a></p>
                                </li>
                            {% endfor %}

                    </ul>
                    {{ pagination.display() }}
                    {% endif %}
                    {#<ul class="pagination margin-top-70">
                        <li class="left">
                            <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                        </li>
                        <li class="selected">
                            <a href="#" title="">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                3
                            </a>
                        </li>
                        <li class="right">
                            <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                        </li>
                    </ul>#}
                </div>
                {{ include('website/_partials/blog-right-side.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
