<div class="column column-1-4 cm-smart-column">
    <div class="cm-smart-column-wrapper">
        <ul class="categories clearfix">
            {% if categories is defined %}
                {% for category in categories %}
                    <li><a href="#" title="{{ category.title }}">{{ category.title }}<span>{{ category.posts.count }}</span></a></li>
                {% endfor %}
            {% endif %}


        </ul>
        {% if latestPost is defined %}
        <h6 class="box-header page-margin-top">Les dernières actualités</h6>
        <ul class="blog small margin-top-30 clearfix">
            {% for post in latestPost %}
            <li>
                <a href="#" title="{{ post.title }}" class="post-image">
                    <img src="{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}" style=" height:90px; width:90px;">
                </a>
                <div class="post-content">
                    <a href="#" title="{{ post.title }}">{{ post.title }}</a>
                    <ul class="post-details">
                        <li class="date">{{ post.updateAt | date("d F Y") }}</li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if bestPost is defined %}
        <h6 class="box-header page-margin-top">Les actualités les plus lues</h6>
        <ul class="blog small margin-top-30 clearfix">
            {% for post in bestPost %}
            <li>
                <a href="#" title="{{ post.title }}" class="post-image">
                    <img src="{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}" style=" height:90px; width:90px;">
                </a>
                <div class="post-content">
                    <a href="#" title="{{ post.title }}">{{ post.title }}</a>
                    <ul class="post-details">
                        <li class="date">{{ post.updateAt | date("d F Y") }}</li>
                    </ul>
                </div>
            </li>
            {% endfor %}

        </ul>
        {% endif %}
    </div>
</div>
