<div class="header-container sticky">
    <!--<div class="header-container sticky">-->
    <div class="header clearfix">
        <div class="logo">
            <h1>
                <a href="{{ path('app_home_page') }}" title="Union des ONG du Togo">
                    <img src="{{ asset('app-assets/images/ico/apple-icon-60.png') }}" srcset="{{ asset('app-assets/images/logo/logo.png') }} 2x" class="" alt="logo">
                </a>
            </h1>
        </div>
        <a href="#" class="mobile-menu-switch">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        <div class="menu-container clearfix">
            <nav>
                <ul class="sf-menu">
                    <li class="selected"><a href="{{ path('app_home_page') }}" title="Accueil">Accueil</a></li>
                    <li >
                        <a href="#" title="Actualités">Actualités</a>
                        <ul>
                            <li><a href="{{ path('app_blog_page', {'pageCategory': "news"}) }}" title="Actualités">Actualités</a></li>
                            <li><a href="{{ path('app_blog_page', {'pageCategory': "announcement"}) }}" title="Annonces">Annonces</a></li>
                            <li><a href="{{ path('app_blog_page', {'pageCategory': "tenders"}) }}" title="Appels d'offres">Appels d'offres</a></li>
                            <li><a href="{{ path('app_blog_page', {'pageCategory': "events"}) }}" title="Evènements">Evènements</a></li>
                            {#<li><a href="#" title="Forum">Forum</a></li>#}
                        </ul>
                    </li>

                    <li>
                        <a href="#" title="A propos">A propos</a>
                        <ul>
                            <li><a href="{{ path('app_about_page') }}" title="Qui sommes nous">Qui sommes nous</a></li>
                            <li><a href="{{ path('app_historic_page') }}" title="Historique">Historique</a></li>
                            <li><a href="{{ path('app_about_single_page') }}" title="Mot du PCA">Mot du PCA</a></li>
                            <li><a href="{{ path('app_about_single_page') }}" title="Mot du DE">Mot du DE</a></li>
                            <li><a href="{{ path('app_team_page') }}" title="Qui est qui">Qui est qui</a></li>
                            <li><a href="{{ path('app_contact_page') }}" title="Nous Contacter">Nous Contacter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Membres & Partenaires">Membres & Partenaires</a>
                        <ul>
                            <li><a href="{{ path('app_member_page') }}" title="Nos membres">Nos membres</a></li>
                            <li><a href="{{ path('app_become_member_page') }}" title="Devenir membres">Devenir membres</a></li>
                            <li><a href="{{ path('app_partner_page') }}" title="Nos Partenaires">Nos Partenaires</a></li>
                            <li><a href="{{ path('app_become_member_page') }}" title="Nos réseaux">Nos réseaux</a></li>
                            {#<li><a href="#" title="Cartographie">Cartographie</a></li>#}
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Publications">Publications</a>
                        <ul>
                            <li><a href="{{ path('app_publication_page', {'pageCategory': "uongto"}) }}" title="Publications de UONGTO">Publications de UONGTO</a></li>
                            <li><a href="{{ path('app_publication_page', {'pageCategory': "partners"}) }}" title="Publications des partenaires">Publications des partenaires</a></li>
                            <li><a href="{{ path('app_publication_page', {'pageCategory': "members"}) }}" title="Publications des membres">Publications des membres</a></li>
                            <li><a href="{{ path('app_publication_page', {'pageCategory': "others"}) }}" title="Publications des autres">Publications des autres</a></li>
                            <li><a href="{{ path('app_publication_page', {'pageCategory': "government"}) }}" title="Publications du gouvernement">Publications du gouvernement</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" title="Financement">Plaidoyer</a>
                        <ul>
                            <li><a href="{{ path('app_pleading_page', {'pageCategory': "pleading"}) }}" title="Financement de la santé">Financement de la santé</a></li>
                            <li><a href="https://ayelaf.com/uongto/auth/public/budget-sante" target="_blank" title="Données du Financement de la santé 2018 - 2021">Données Financement de la santé 2018 - 2021</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="Dons" class="more" style="padding-left: 2px !important; margin-left: 12px; font-weight: bold !important;">Faire un don</a></li>
                </ul>
            </nav>
            <div class="mobile-menu-container">
                <nav>
                    <ul class="mobile-menu collapsible-mobile-submenus">
                        <li><a class="template-arrow-vertical-3" href="#">&nbsp;</a></li>
                        <li class="selected"><a href="{{ path('app_home_page') }}" title="Accueil">Accueil</a></li>
                        <li >
                            <a href="#" title="Actualités">Actualités</a>
                            <a href="#" class="template-arrow-menu"></a>
                            <ul>
                                <li><a href="{{ path('app_blog_page', {'pageCategory': "news"}) }}" title="Actualités">Actualités</a></li>
                                <li><a href="{{ path('app_blog_page', {'pageCategory': "announcement"}) }}" title="Annonces">Annonces</a></li>
                                <li><a href="{{ path('app_blog_page', {'pageCategory': "tenders"}) }}" title="Appels d'offres">Appels d'offres</a></li>
                                <li><a href="{{ path('app_blog_page', {'pageCategory': "events"}) }}" title="Evènements">Evènements</a></li>
                                {#<li><a href="#" title="Forum">Forum</a></li>#}
                            </ul>
                        </li>

                        <li>
                            <a href="#" title="A propos">A propos</a>
                            <a href="#" class="template-arrow-menu"></a>
                            <ul>
                                <li><a href="{{ path('app_about_page') }}" title="Qui sommes nous">Qui sommes nous</a></li>
                                <li><a href="{{ path('app_historic_page') }}" title="Historique">Historique</a></li>
                                <li><a href="{{ path('app_about_single_page') }}" title="Mot du PCA">Mot du PCA</a></li>
                                <li><a href="{{ path('app_about_single_page') }}" title="Mot du DE">Mot du DE</a></li>
                                <li><a href="{{ path('app_team_page') }}" title="Qui est qui">Qui est qui</a></li>
                                <li><a href="{{ path('app_contact_page') }}" title="Nous Contacter">Nous Contacter</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Membres & Partenaires">Membres & Partenaires</a>
                            <a href="#" class="template-arrow-menu"></a>
                            <ul>
                                <li><a href="{{ path('app_member_page') }}" title="Nos membres">Nos membres</a></li>
                                <li><a href="{{ path('app_become_member_page') }}" title="Devenir membres">Devenir membres</a></li>
                                <li><a href="{{ path('app_partner_page') }}" title="Nos Partenaires">Nos Partenaires</a></li>
                                <li><a href="{{ path('app_become_member_page') }}" title="Nos réseaux">Nos réseaux</a></li>
                                {#<li><a href="#" title="Cartographie">Cartographie</a></li>#}
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Publications">Publications</a>
                            <a href="#" class="template-arrow-menu"></a>
                            <ul>
                                <li><a href="{{ path('app_publication_page', {'pageCategory': "uongto"}) }}" title="Publications de UONGTO">Publications de UONGTO</a></li>
                                <li><a href="{{ path('app_publication_page', {'pageCategory': "partners"}) }}" title="Publications des partenaires">Publications des partenaires</a></li>
                                <li><a href="{{ path('app_publication_page', {'pageCategory': "members"}) }}" title="Publications des membres">Publications des membres</a></li>
                                <li><a href="{{ path('app_publication_page', {'pageCategory': "others"}) }}" title="Publications des autres">Publications des autres</a></li>
                                <li><a href="{{ path('app_publication_page', {'pageCategory': "government"}) }}" title="Publications du gouvernement">Publications du gouvernement</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" title="Financement">Plaidoyer</a>
                            <a href="#" class="template-arrow-menu"></a>
                            <ul>
                                <li><a href="{{ path('app_pleading_page', {'pageCategory': "pleading"}) }}" title="Financement de la santé">Financement de la santé</a></li>
                                <li><a href="https://ayelaf.com/uongto/auth/public/budget-sante" target="_blank" title="Données du Financement de la santé 2018 - 2021">Données Financement de la santé 2018 - 2021</a></li>
                            </ul>
                        </li>
                        <li><a href="" title="Dons" class="more" style="padding-left: 2px !important; margin-left: 12px; font-weight: bold !important; ">Faire un don</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-icons-container hide-on-mobiles">
            <a class="template-search" href="#" title="Search"></a>
            <form class="search">
                <input type="text" name="s" placeholder="Saisir votre recherche ..." value="Saisir votre recherche" class="search-input hint">
                <fieldset class="search-submit-container">
                    <span class="template-search"></span>
                    <input type="submit" class="search-submit" value="">
                </fieldset>
                <input type="hidden" name="page" value="search">
            </form>
        </div>
    </div>
</div>
