{% extends 'website/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Slider Revolution -->
    <div class="revolution-slider-container">

        <div class="revolution-slider" data-version="5.4.5">
            <ul>
                {% if latestPosts is defined %}
                {% for post in latestPosts %}
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>
                            {{ post.quote|length < 50 ?  post.quote :  post.quote|slice(3, 53) ~ '...' | raw }}
                        </h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="{{ path('app_blog_single_page', {'pageCategory': post.page.codeName ,'slug': post.slug}) }}" title="{{ post.title }}" class="uppercase">{{ post.title }}</a></h2>
                    </div>
                    {#<!-- LAYER 03 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>{{ post.quote }}</strong></h2>
                    </div>#}
                    <!-- LAYER 04 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="{{ path('app_blog_single_page', {'pageCategory': post.page.codeName ,'slug': post.slug}) }}" title="{{ post.title }}">Lire plus</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>
                {% endfor %}
                {% else %}
                   {{ include('website/_partials/slider.html.twig') }}
                {% endif %}
            </ul>
        </div>
    </div>
    <!--/-->
    <div class="theme-page">
        <div class="clearfix">
            <div class="row margin-top-89">
                <div class="row">
                    <h2 class="box-header transform">Vision & Objectif</h2>
                    <p class="description align-center">Faire de l’UONGTO à l’horizon 2025, une faitière d’organisations de la société civile, professionnelle, autonome, influente, au service des transformations économiques, sociales et environnementales durables</p>
                    <div class="row page-margin-top">
                        <div class="column column-1-4">
                            <ul class="features-list align-right margin-top-30">
                                <li>
                                    <div class="icon features-diamond"></div>
                                    <h4 class="transform">Représentation</h4>
                                    <p>Représenter les ONG membres dans les instances du gouvernement, des partenaires techniques et financiers (PTF) et dans les différentes conférences sur le développement partout au monde.</p>
                                </li>
                                <li>
                                    <div class="icon features-umbrella"></div>
                                    <h4 class="transform">Renforcement</h4>
                                    <p>
                                        Le renforcement des capacités d’analyse et de formulation de positions et propositions communes des organisations de la société civile pour une action publique efficiente et prenant en charge les droits humains ainsi que les priorités des communautés et les besoins de développement
                                        .</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-2 align-center">
                            <div class="image-wrapper">
                                <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="" class="radius border">
                            </div>
                        </div>
                        <div class="column column-1-4">
                            <ul class="features-list margin-top-30">
                                <li>
                                    <div class="icon features-eco"></div>
                                    <h4 class="transform">Promotion</h4>
                                    <p>La promotion du dialogue politique, économique, social et culturel pour influencer les politiques publiques nationales, africaines et internationales.</p>
                                </li>
                                <li>
                                    <div class="icon features-maid"></div>
                                    <h4 class="transform">Construire un plaidoyer</h4>
                                    <p>Construire un plaidoyer actif pour favoriser l’accès des acteurs des membres aux services sociaux de base (santé, éducation, eau et assainissement) </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="{{ path('app_about_page') }}" title="Lire plus">Lire plus</a>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-96 page-margin-top-section parallax parallax-1 overlay">
                <div class="row">
                    <h2 class="box-header white transform">Nos Valeurs et Nos Principes</h2>
                    <p class="description align-center white">Les valeurs et principes de l’UONGTO sont celles partagées par le personnel de sa direction exécutive, les membres du conseil d’administration, le personnel et membres de CA de ses structures membres et qui vont régir sa mission et ses relations avec l’ensemble des acteurs et partenaires.</p>
                    <div class="tabs white no-scroll margin-top-27 clearfix">
                        <ul class="tabs-navigation clearfix">
                            <li>
                                <a href="#our-customers" title="Engagement" class="features-team transform">
                                    Respect
                                </a>
                            </li>
                            <li>
                                <a href="#the-environment" title="Excellence" class="features-leaf transform">
                                    Transparence
                                </a>
                            </li>
                            <li>
                                <a href="#communication" title="Communication" class="features-megaphone transform">
                                    Redevabilité
                                </a>
                            </li>
                            <li>
                                <a href="#integrity" title="Intégrité" class="features-armchair transform">
                                    Equité
                                </a>
                            </li>
                        </ul>
                        <div id="our-customers">
                            <p>
                                La personne humaine est au cœur des actions et interventions de l’UONGTO. Le Personnel de la Direction exécutive, les membres du CA et les organisations membres doivent, dans l’exercice de leur mission, garantir le respect de la personne et la valorisation de ses capacités individuelles sans distinction ou discrimination aucune. Il s’agit, notamment du respect de la diversité, des cultures, des structures et des coutumes des populations, ainsi que la compréhension mutuelle, qui sont entre autres, des éléments essentiels au maintien de la dignité humaine
                            </p>
                        </div>
                        <div id="the-environment">
                            <p>
                                L’UONGTO insistera sur la bonne gouvernance à tous les niveaux, le partage d’informations et l’ouverture aux autres, la nécessité de rendre toujours fidèlement compte, et d’inspirer la confiance en adoptant des comportements dignes et en respectant les dispositions de la bonne gouvernance.
                            </p>
                        </div>
                        <div id="communication">
                            <p>
                                Pour l’UONGTO, il s’agira de définir des buts et objectifs clairs, d’assumer la responsabilité de les atteindre et d’en rendre compte à toutes les parties prenantes.
                            </p>
                        </div>
                        <div id="integrity">
                            <p>
                                L’UONGTO est consciente de la nécessité de promouvoir et de consolider un cadre où les hommes et les femmes ont les mêmes droits, les mêmes chances et opportunités de participer au développement et de jouir des bénéfices des efforts de développement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray padding-top-89 padding-bottom-96">
                <div class="row">
                    <h2 class="box-header">Nos Thématiques</h2>
                    <p class="description align-center">
                        Dans le cadre de l'atteinte de ses objectifs l’UONGTO est structuré autour de 9 thématiques qui sont :
                    </p>
                    <div class="carousel-container margin-top-65 clearfix">
                        {% if thematics is defined %}
                            <ul class="services-list horizontal-carousel clearfix page-margin-top">
                                {% for thematic in thematics %}
                                    <li class="column column-1-3">
                                        <a href="#" title="{{ thematic.title | raw }}">
                                            <img src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(thematic, 'imageFile')) }}" alt="{{ thematic.title | raw }}">
                                        </a>
                                        <h4 class="box-header transform"><a href="#" title="{{ thematic.title | raw }}">{{ thematic.title | raw }}</a></h4>
                                        <p>{{ thematic.description | raw }}</p>
                                    </li>
                                {% endfor %}
                        </ul>
                            <div class="cm-carousel-pagination"></div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="row page-margin-top-section">
                <div class="column column-1-4">
                    <div class="row">
                        <a href="{{ asset('assets/images/samples/pattern-1.jpg') }}" class="prettyPhoto cm-preload" title="Agriculture, élevage et pêche">
                            <img src='{{ asset('assets/images/samples/pattern-1.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <a href="{{ asset('assets/images/samples/pattern-2.jpg') }}" class="prettyPhoto cm-preload" title="Environnement, changement climatique et gestion des catastrophes et humanitaire ">
                            <img src='{{ asset('assets/images/samples/pattern-2.jpg') }}' alt='img'>
                        </a>
                    </div>
                </div>
                <div class="column column-1-4">
                    <div class="row">
                        <a href="{{ asset('assets/images/samples/pattern-4.jpg') }}" class="prettyPhoto cm-preload" title="Éducation, formation professionnelle et alphabétisation ">
                            <img src='{{ asset('assets/images/samples/pattern-4.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <a href="{{ asset('assets/images/samples/pattern-3.jpg') }}" class="prettyPhoto cm-preload" title="Environnement, changement climatique et gestion des catastrophes et humanitaire ">
                            <img src='{{ asset('assets/images/samples/pattern-3.jpg') }}' alt='img'>
                        </a>
                    </div>
                </div>
                <div class="column column-1-2">
                    <h2 class="box-header transform">A propos de la faitière</h2>
                    <p class="description align-center">Exceptional level of cleaning services.</p>
                    <p class="align-center padding-0 margin-top-27 padding-left-right-35">Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif qui vise à coordonner les actions entre ses membres et à promouvoir le partenariat entre ceux-ci et les organisations nationales et internationales de développement.</p>
                    <div class="align-center page-margin-top padding-bottom-16">
                        <a class="more" href="{{ path('app_about_page') }}" title="Learn more">Lire plus ..</a>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section padding-bottom-100 counters-group parallax parallax-2 overlay">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="140" data-animation-start="230"></span>
                            <p class="transform">ONG Membres</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="18" data-animation-start="230"></span>
                            <p class="transform">Nos Partenaires</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="527" data-animation-start="230"></span>
                            <p class="transform">Projets Soumis</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="456" data-animation-start="230"></span>
                            <p class="transform">Projets Accomplis</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3 class="uppercase">Que faut-il savoir de la faitière?</h3>
                        <ul class="accordion margin-top-40 clearfix">
                            <li>
                                <div id="accordion-house-cleaning">
                                    <h4>Solidarité/Partage</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="#"><img alt="" src="{{ asset('assets/images/samples/pattern-6.jpg') }}"></a>
                                    <p>L’UONGTO doit se montrer solidaire de toutes les personnes qui sollicitent ses services, des différentes couches et populations, des groupes qui bénéficient de ses actions ou interventions.  </p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-present-for-cleaning">
                                    <h4>Participation</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="{{ asset('assets/images/samples/pattern-7.jpg') }}"></a>
                                    <p>Comme principe, il s’agit pour l’UONGTO du devoir de prendre part et d’apporter sa contribution et son concours comme acteur de la société civile aux efforts de développement du Togo.</p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-how-long">
                                    <h4>Professionnalisme</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="{{ asset('assets/images/samples/pattern-9.jpg') }}"></a>
                                    <p>L’UONGTO promeut la volonté et la capacité de son personnel et des organisations membres d’adopter des comportements et des attitudes professionnelles dans leur milieu de travail et d’intervention, et de se conduire d'une manière qui reflète favorablement leur engagement. Le professionnalisme et le dévouement englobent une série d’attitudes, d’aptitudes, de normes comportementales et morales, de qualités et de valeurs auxquelles est tenue chaque partie prenante. Cela implique d’agir avec conscience et efficacité, et de faire la preuve de sa compétence dans son domaine d’intervention. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-2">
                        <h3 class="uppercase">SAVEZ VOUS?</h3>
                        <div class="row margin-top-40">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="95">0</span><span class="number-sign">%</span>
                                    <p>Cas de tuberculose traités durant 2022</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="80">0</span><span class="number-sign">%</span>
                                    <p>Distriv=bués en ARV</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="54">0</span><span class="number-sign">%</span>
                                    <p>De Cas de femme enceinte TB / Paludisme</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="20">0</span><span class="number-sign">%</span>
                                    <p>D'arbres plantés sur l'année 2022</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-112 padding-bottom-115 parallax parallax-3 overlay">
                <div class="row testimonials-container">
                    <a href="#" class="slider-control left template-arrow-horizontal-3"></a>
                    <ul class="testimonials-list testimonials-carousel">
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>L’union des ONG du Togo (UONGTO) m'a permis dans le cadre de la gestion des déchets de savoir comment faire le tri à la base des déchets pour une meilleur valorisation de ces derniers. Merci à vous!</p>
                            <h6>Bemah GADO, ONG STADD</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>L’union des ONG du Togo (UONGTO) nous a permis dans le cadre de la lutte contre le changement climatique de passer à une vitesse en plantant un grand nombre d'arbres pour augmenter le couvert végétal, nous vous en sommes très reconnaissant! </p>
                            <h6>Anani Akpé WILSON, ONG AVOTODE</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>
                                L’union des ONG du Togo (UONGTO) nous a permis dans le cadre de l'Atelier de vulgarisation du budget citoyen d'avoir l'accès au informations du budget de l'Etat par les citoyens. Nos sincères remerciement à l'endroit de l'éauipe technique!</p>
                            <h6>Juliette GOUDJINOU, Stagiaire à UONGTO</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                    </ul>
                    <a href="#" class="slider-control right template-arrow-horizontal-3"></a>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header transform">Les dernières publications</h2>
                    <div class="carousel-container margin-top-65 clearfix">
                        {% if posts is defined %}
                        <ul class="projects-list horizontal-carousel clearfix page-margin-top">
                            {% for post in posts %}
                            <li class="column column-1-3">
                                <a href="{{ path('app_blog_single_page', {'pageCategory': post.page.codeName ,'slug': post.slug}) }}" title="{{ post.title }}">
                                    <img src="{% if app.environment == 'prod'  %}/public{% endif %}{{ asset(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>{{ post.quote|length < 50 ?  post.quote :  post.quote|slice(3, 53) ~ '...' | raw }}</p>
                                            <a class="more simple" href="{{ path('app_blog_single_page', {'pageCategory': post.page.codeName ,'slug': post.slug}) }}" title="{{ post.title }}">{{ post.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
