{% extends 'website/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Slider Revolution -->
    <div class="revolution-slider-container">
        <div class="revolution-slider" data-version="5.4.5">
            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/img/slide-03.jpg') }}" alt="slidebg1" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>User-Friendly. Simple. Awesome.</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="{{ path('app_new_single_page') }}" title="Estimate Total Costs">ESTIMATE TOTAL COSTS</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>OF HOUSE CLEANING</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>
                <!-- SLIDE 2 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/img/slide-05.jpg') }}" alt="slidebg2" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>Reliable and Stable Crews</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="?page=service_calculator" title="Estimate Total Costs">OUR TEAM IS OUR MOST</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>VALUABLE RESOURCE</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>

                <!-- SLIDE 3 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/img/slide-09.jpg') }}" alt="slidebg3" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>Our Focus is to Really Listen to Our Clients</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="?page=service_calculator" title="Estimate Total Costs">CONTINUOUS PURSUIT</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>FOR PERFECTION</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>
            </ul>
        </div>
    </div>
    <!--/-->
    <div class="theme-page">
        <div class="clearfix">
            <div class="row margin-top-89">
                <div class="row">
                    <h2 class="box-header transform">Vision & Objectif</h2>
                    <p class="description align-center">Faire de l’UONGTO à l’horizon 2025, une faitière d’organisations de la société civile, professionnelle, autonome, influente, au service des transformations économiques, sociales et environnementales durables</p>
                    <div class="row page-margin-top">
                        <div class="column column-1-4">
                            <ul class="features-list align-right margin-top-30">
                                <li>
                                    <div class="icon features-diamond"></div>
                                    <h4 class="transform">Représentation</h4>
                                    <p>Représenter les ONG membres dans les instances du gouvernement, des partenaires techniques et financiers (PTF) et dans les différentes conférences sur le développement partout au monde.</p>
                                </li>
                                <li>
                                    <div class="icon features-umbrella"></div>
                                    <h4 class="transform">Renforcement</h4>
                                    <p>
                                        Le renforcement des capacités d’analyse et de formulation de positions et propositions communes des organisations de la société civile pour une action publique efficiente et prenant en charge les droits humains ainsi que les priorités des communautés et les besoins de développement
                                        .</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-2 align-center">
                            <div class="image-wrapper">
                                <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="" class="radius border">
                            </div>
                        </div>
                        <div class="column column-1-4">
                            <ul class="features-list margin-top-30">
                                <li>
                                    <div class="icon features-eco"></div>
                                    <h4 class="transform">Promotion</h4>
                                    <p>La promotion du dialogue politique, économique, social et culturel pour influencer les politiques publiques nationales, africaines et internationales.</p>
                                </li>
                                <li>
                                    <div class="icon features-maid"></div>
                                    <h4 class="transform">Construire un plaidoyer</h4>
                                    <p>Construire un plaidoyer actif pour favoriser l’accès des acteurs des membres aux services sociaux de base (santé, éducation, eau et assainissement) </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="?page=about" title="Learn more">Lire plus</a>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-96 page-margin-top-section parallax parallax-1 overlay">
                <div class="row">
                    <h2 class="box-header white transform">Nos Valeurs et Nos Principes</h2>
                    <p class="description align-center white">Les valeurs et principes de l’UONGTO sont celles partagées par le personnel de sa direction exécutive, les membres du conseil d’administration, le personnel et membres de CA de ses structures membres et qui vont régir sa mission et ses relations avec l’ensemble des acteurs et partenaires.</p>
                    <div class="tabs white no-scroll margin-top-27 clearfix">
                        <ul class="tabs-navigation clearfix">
                            <li>
                                <a href="#our-customers" title="Engagement" class="features-team transform">
                                    Respect
                                </a>
                            </li>
                            <li>
                                <a href="#the-environment" title="Excellence" class="features-leaf transform">
                                    Transparence
                                </a>
                            </li>
                            <li>
                                <a href="#communication" title="Communication" class="features-megaphone transform">
                                    Redevabilité
                                </a>
                            </li>
                            <li>
                                <a href="#integrity" title="Intégrité" class="features-armchair transform">
                                    Equité
                                </a>
                            </li>
                        </ul>
                        <div id="our-customers">
                            <p>
                                La personne humaine est au cœur des actions et interventions de l’UONGTO. Le Personnel de la Direction exécutive, les membres du CA et les organisations membres doivent, dans l’exercice de leur mission, garantir le respect de la personne et la valorisation de ses capacités individuelles sans distinction ou discrimination aucune. Il s’agit, notamment du respect de la diversité, des cultures, des structures et des coutumes des populations, ainsi que la compréhension mutuelle, qui sont entre autres, des éléments essentiels au maintien de la dignité humaine
                            </p>
                        </div>
                        <div id="the-environment">
                            <p>
                                L’UONGTO insistera sur la bonne gouvernance à tous les niveaux, le partage d’informations et l’ouverture aux autres, la nécessité de rendre toujours fidèlement compte, et d’inspirer la confiance en adoptant des comportements dignes et en respectant les dispositions de la bonne gouvernance.
                            </p>
                        </div>
                        <div id="communication">
                            <p>
                                Pour l’UONGTO, il s’agira de définir des buts et objectifs clairs, d’assumer la responsabilité de les atteindre et d’en rendre compte à toutes les parties prenantes.
                            </p>
                        </div>
                        <div id="integrity">
                            <p>
                                L’UONGTO est consciente de la nécessité de promouvoir et de consolider un cadre où les hommes et les femmes ont les mêmes droits, les mêmes chances et opportunités de participer au développement et de jouir des bénéfices des efforts de développement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray padding-top-89 padding-bottom-96">
                <div class="row">
                    <h2 class="box-header">Nos Thématiques</h2>
                    <p class="description align-center">
                        Dans le cadre de l'atteinte de ses objectifs l’UONGTO est structuré autour de 9 thématiques qui sont :
                    </p>
                    <div class="carousel-container margin-top-65 clearfix">
                        <ul class="services-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="#" title="House Cleaning">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="?page=service_house_cleaning" title="Agriculture, élevage et pêche"></a></h4>
                                <p>Agriculture, élevage et pêche</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Post Renovation">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Post Renovation">Bonne gouvernance</a></h4>
                                <p></p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Green Spaces Maintenance">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Green Spaces Maintenance"></a></h4>
                                <p>Décentralisation .</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Move In Out Service">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Droits humains, Genre et Équité"> </a></h4>
                                <p>Droits humains, Genre et Équité .</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Commercial Cleaning">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Éducation, formation professionnelle et alphabétisation"></a></h4>
                                <p>Éducation, formation professionnelle et alphabétisation.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Window Cleaning">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Emploi et entreprenariat "> </a></h4>
                                <p>Emploi et entreprenariat .</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="House Cleaning">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Renforcement des capacités "> </a></h4>
                                <p>Renforcement des capacités .</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Post Renovation">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Environnement ">Environnement</a></h4>
                                <p> .</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Green Spaces Maintenance">
                                    <img src="{{ asset('assets/images/img/uongto.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header transform"><a href="#" title="Santé">Santé</a></h4>
                                <p></p>
                            </li>

                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="row page-margin-top-section">
                <div class="column column-1-4">
                    <div class="row">
                        <a href="{{ asset('assets/images/img/uongto.jpg') }}" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='{{ asset('assets/images/img/uongto.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <a href="{{ asset('assets/images/img/uongto.jpg') }}" class="prettyPhoto cm-preload" title="Window Cleaning">
                            <img src='{{ asset('assets/images/img/uongto.jpg') }}' alt='img'>
                        </a>
                    </div>
                </div>
                <div class="column column-1-4">
                    <a href="{{ asset('assets/images/img/uongto.jpg') }}" class="prettyPhoto cm-preload" title="Apartment Cleaning">
                        <img src='{{ asset('assets/images/img/uongto.jpg') }}' alt='img'>
                    </a>
                </div>
                <div class="column column-1-2">
                    <h2 class="box-header transform">A propos de la faitière</h2>
                    <p class="description align-center">Exceptional level of cleaning services.</p>
                    <p class="align-center padding-0 margin-top-27 padding-left-right-35">Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif qui vise à coordonner les actions entre ses membres et à promouvoir le partenariat entre ceux-ci et les organisations nationales et internationales de développement.</p>
                    <div class="align-center page-margin-top padding-bottom-16">
                        <a class="more" href="{{ path('app_about_page') }}" title="Learn more">Lire plus ..</a>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section padding-bottom-100 counters-group parallax parallax-2 overlay">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="140" data-animation-start="230"></span>
                            <p class="transform">ONG Membres</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="18" data-animation-start="230"></span>
                            <p class="transform">Nos Partenaires</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="527" data-animation-start="230"></span>
                            <p class="transform">Projets Soumis</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="456" data-animation-start="230"></span>
                            <p class="transform">Projets Accomplis</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>LEARN MORE</h3>
                        <ul class="accordion margin-top-40 clearfix">
                            <li>
                                <div id="accordion-house-cleaning">
                                    <h4>How many people will come to clean my house?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-present-for-cleaning">
                                    <h4>Do I have to be present for a cleaning?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-how-long">
                                    <h4>How long will it take to clean my house?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-2">
                        <h3>DID YOU KNOW?</h3>
                        <div class="row margin-top-40">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="95">0</span><span class="number-sign">%</span>
                                    <p>Women feel better when their home is clean.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="80">0</span><span class="number-sign">%</span>
                                    <p>More dust is found on carpets then floorboards.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="54">0</span><span class="number-sign">%</span>
                                    <p>Americans prefer to clean on a weekly basis.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="20">0</span><span class="number-sign">%</span>
                                    <p>Of men do housework on a daily basis.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-112 padding-bottom-115 parallax parallax-3 overlay">
                <div class="row testimonials-container">
                    <a href="#" class="slider-control left template-arrow-horizontal-3"></a>
                    <ul class="testimonials-list testimonials-carousel">
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>Cleanmate cleaned my home today - they did a terrific job. They even moved the folding chairs beside the washer to be sure the laundry floor was cleaned - they really paid attention to detail. Thank you!</p>
                            <h6>STACEY, NORTH LYNNWOOD</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>We would like to thank Cleanmate company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time.</p>
                            <h6>MARK, SOUTH EVERETT</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>Cleanmate cleaned my home today - they did a terrific job. They even moved the folding chairs beside the washer to be sure the laundry floor was cleaned - they really paid attention to detail. Thank you!</p>
                            <h6>ANTHONY, BELLEVUE</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                    </ul>
                    <a href="#" class="slider-control right template-arrow-horizontal-3"></a>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header transform">Atelier de capitalisation </h2>
                    <p class="description align-center">2<sup>eme</sup> Edition.</p>
                    <div class="carousel-container margin-top-65 clearfix">
                        <ul class="projects-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="#" title="Apartment Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-yatombo.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_gutter_cleaning" title="Gutter Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-wilson.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_move_in_out" title="Move In Out">
                                    <img src="{{ asset('assets/images/img/atelier_valide-nametougli.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_after_renovation_cleaning" title="After Renovation Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-nadjombe.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>After Renovation Cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_house_cleaning" title="House Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-Bemah.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>House Cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_garden_maintenance" title="Garden Maintenance">
                                    <img src="{{ asset('assets/images/img/atelier_valide-kolani.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Garden Maintenance</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_apartment_cleaning" title="Apartment Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-batchale.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_gutter_cleaning" title="Gutter Cleaning">
                                    <img src="{{ asset('assets/images/img/atelier_valide-alassan.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_move_in_out" title="Move In Out">
                                    <img src="{{ asset('assets/images/img/atelier_valide-akpa.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="#" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
