{% extends 'website/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Slider Revolution -->
    <div class="revolution-slider-container">
        <div class="revolution-slider" data-version="5.4.5">
            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/slider/placeholder.jpg') }}" alt="slidebg1" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>User-Friendly. Simple. Awesome.</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="?page=service_calculator" title="Estimate Total Costs">ESTIMATE TOTAL COSTS</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>OF HOUSE CLEANING</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>
                <!-- SLIDE 2 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/slider/placeholder.jpg') }}" alt="slidebg2" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>Reliable and Stable Crews</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="?page=service_calculator" title="Estimate Total Costs">OUR TEAM IS OUR MOST</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>VALUABLE RESOURCE</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>

                <!-- SLIDE 3 -->
                <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/images/slider/placeholder.jpg') }}" alt="slidebg3" data-bgfit="cover">
                    <!-- LAYERS -->
                    <!-- LAYER 01 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":500,"speed":1500,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['211', '257', '160', '218']"
                    >
                        <h4>Our Focus is to Really Listen to Our Clients</h4>
                    </div>
                    <!-- LAYER 02 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":900,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['273', '313', '200', '260']"
                    >
                        <h2><a href="?page=service_calculator" title="Estimate Total Costs">CONTINUOUS PURSUIT</a></h2>
                    </div>
                    <!-- LAYER 03 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['345', '368', '236', '290']"
                    >
                        <h2 class="slider-subtitle"><strong>FOR PERFECTION</strong></h2>
                    </div>
                    <!-- LAYER 04 -->
                    <div class="tp-caption customin customout"
                         data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                         data-x="center"
                         data-y="['476', '478', '304', '353']"
                    >
                        <div class="align-center">
                            <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a>
                        </div>
                    </div>
                    <!-- / -->
                </li>
            </ul>
        </div>
    </div>
    <!--/-->
    <div class="theme-page">
        <div class="clearfix">
            <div class="row margin-top-89">
                <div class="row">
                    <h2 class="box-header">WHY CHOOSE US</h2>
                    <p class="description align-center">Cleanmate operates in Ottawa and provides a variety of cleaning services.<br>Choose us because of our reputation for excellence.</p>
                    <div class="row page-margin-top">
                        <div class="column column-1-4">
                            <ul class="features-list align-right margin-top-30">
                                <li>
                                    <div class="icon features-diamond"></div>
                                    <h4>SPARKLING CLEAN</h4>
                                    <p>We keep your home sparkling clean and germ free. Our disinfecting process kills 99% of common bacteria and viruses.</p>
                                </li>
                                <li>
                                    <div class="icon features-umbrella"></div>
                                    <h4>INSURED AND BONDED</h4>
                                    <p>Our cleaners are insured and bonded so no need to worry about your apartment, office or garden.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-2 align-center">
                            <div class="image-wrapper">
                                <img src="{{ asset('assets/images/samples/480x480/placeholder.jpg') }}" alt="" class="radius border">
                            </div>
                        </div>
                        <div class="column column-1-4">
                            <ul class="features-list margin-top-30">
                                <li>
                                    <div class="icon features-eco"></div>
                                    <h4>LEADING TECHNOLOGIES</h4>
                                    <p>We use safe hospital-grade disinfectants, HEPA filtrations and microfiber cleaning cloths to reduce cross contamination.</p>
                                </li>
                                <li>
                                    <div class="icon features-maid"></div>
                                    <h4>RELIABLE CREWS</h4>
                                    <p>Our reliable and stable crews understand your specific house and office clearning service needs.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="?page=about" title="Learn more">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-96 page-margin-top-section parallax parallax-1 overlay">
                <div class="row">
                    <h2 class="box-header white">NOTHING IS MORE IMPORTANT</h2>
                    <p class="description align-center white">We prioritize the following.</p>
                    <div class="tabs white no-scroll margin-top-27 clearfix">
                        <ul class="tabs-navigation clearfix">
                            <li>
                                <a href="#our-customers" title="Our Customers" class="features-team">
                                    OUR CUSTOMERS
                                </a>
                            </li>
                            <li>
                                <a href="#the-environment" title="The Environment" class="features-leaf">
                                    THE ENVIRONMENT
                                </a>
                            </li>
                            <li>
                                <a href="#communication" title="Communication" class="features-megaphone">
                                    COMMUNICATION
                                </a>
                            </li>
                        </ul>
                        <div id="our-customers">
                            <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact Cleanmate. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                        </div>
                        <div id="the-environment">
                            <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact Cleanmate. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                        </div>
                        <div id="communication">
                            <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact Cleanmate. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray padding-top-89 padding-bottom-96">
                <div class="row">
                    <h2 class="box-header">OUR CLEANING SERVICES</h2>
                    <p class="description align-center">Do you wish you had more free time? We can make it happen!</p>
                    <div class="carousel-container margin-top-65 clearfix">
                        <ul class="services-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="?page=service_house_cleaning" title="House Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_house_cleaning" title="House Cleaning">HOUSE CLEANING</a></h4>
                                <p>Complete apartment and house cleaning services by professional cleaners.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_post_renovation" title="Post Renovation">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_post_renovation" title="Post Renovation">POST RENOVATION</a></h4>
                                <p>Get rid of the dust left behind after construction or renovation.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">GREEN SPACES MAINTENANCE</a></h4>
                                <p>The right maintenance methods will make keeping your garden beautiful.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_move_in_out" title="Move In Out Service">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_move_in_out" title="Move In Out Service">MOVE IN OUT SERVICE</a></h4>
                                <p>We will leave the place you're leaving look even better than it did when you moved in.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_commercial_cleaning" title="Commercial Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_commercial_cleaning" title="Commercial Cleaning">COMMERCIAL CLEANING</a></h4>
                                <p>Only the most skilled professionals for commercial office cleaning.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_window_cleaning" title="Window Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_window_cleaning" title="Window Cleaning">WINDOW CLEANING</a></h4>
                                <p>The highest quality window cleaning service at a competitive price.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_house_cleaning" title="House Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_house_cleaning" title="House Cleaning">HOUSE CLEANING</a></h4>
                                <p>Complete apartment and house cleaning services by professional cleaners.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_post_renovation" title="Post Renovation">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_post_renovation" title="Post Renovation">POST RENOVATION</a></h4>
                                <p>Get rid of the dust left behind after construction or renovation.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">GREEN SPACES MAINTENANCE</a></h4>
                                <p>The right maintenance methods will make keeping your garden beautiful.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <h4 class="box-header"><a href="?page=service_green_spaces_maintenance" title="Green Spaces Maintenance">GREEN SPACES MAINTENANCE</a></h4>
                                <p>The right maintenance methods will make keeping your garden beautiful.</p>
                            </li>
                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="row page-margin-top-section">
                <div class="column column-1-4">
                    <div class="row">
                        <a href="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='{{ asset('assets/images/samples/480x320/placeholder.jpg') }}' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <a href="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" class="prettyPhoto cm-preload" title="Window Cleaning">
                            <img src='{{ asset('assets/images/samples/480x320/placeholder.jpg') }}' alt='img'>
                        </a>
                    </div>
                </div>
                <div class="column column-1-4">
                    <a href="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" class="prettyPhoto cm-preload" title="Apartment Cleaning">
                        <img src='{{ asset('assets/images/samples/480x320/placeholder.jpg') }}' alt='img'>
                    </a>
                </div>
                <div class="column column-1-2">
                    <h2 class="box-header">ABOUT OUR COMPANY</h2>
                    <p class="description align-center">Exceptional level of cleaning services.</p>
                    <p class="align-center padding-0 margin-top-27 padding-left-right-35">Founded in 1995 Cleanmate quickly built a reputation as one of the leading providers of residential and commercial cleaning solutions. Our continuous pursuit for perfection has resulted in consistent growth each year. Our focus is to listen to our clients, understand their needs and provide the exceptional level of residential and commercial cleaning service.</p>
                    <div class="align-center page-margin-top padding-bottom-16">
                        <a class="more" href="?page=about" title="Learn more">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section padding-bottom-100 counters-group parallax parallax-2 overlay">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="295" data-animation-start="230"></span>
                            <p>COMPLETED MOVINGS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="400" data-animation-start="230"></span>
                            <p>HAPPY CUSTOMERS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="527" data-animation-start="230"></span>
                            <p>COMPLETED PROJECTS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="105" data-animation-start="230"></span>
                            <p>PLACES CLEANED</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">SIMPLE PLANS. SIMPLE PRICING</h2>
                    <p class="description align-center">Cleanmate comes with cost calculator - a unique tool which allows you to easily create<br>price estimation forms to give your client idea of the cost of your service.</p>
                    <form class="cost-calculator-container row margin-top-65 prevent-submit" method="post" action="<?php echo $_SERVER['REQUEST_URI']; ?>">
                        <fieldset class="column column-1-2">
                            <div class="cost-calculator-box clearfix">
                                <label>Total area to be cleaned in square feet:</label>
                                <input type="hidden" name="clean-area-label" value="Total area to be cleaned">
                                <div class="cost-slider-container">
                                    <input id="clean-area" class="cost-slider-input" name="clean-area" type="number" value="1200">
                                    <div class="cost-slider" data-value="1200" data-step="1" data-min="1" data-max="2000" data-input="clean-area"></div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="column column-1-2">
                            <div class="cost-calculator-box clearfix">
                                <label>Cleaning frequency:</label>
                                <input type="hidden" name="cleaning-frequency-label" value="Cleaning frequency">
                                <select name="cleaning-frequency" id="cleaning-frequency" class="cost-dropdown">
                                    <option value="">Choose...</option>
                                    <option value="0.4">Weekly Service</option>
                                    <option value="0.8">Bi-Weekly Service</option>
                                    <option value="1.2">Tri-Weekly Service</option>
                                    <option value="1.6">Quarter Weekly Service</option>
                                    <option value="0.1">Monthly Service</option>
                                    <option value="0.2" selected="selected">One Time Service</option>
                                </select>
                                <input type="hidden" class="cleaning-frequency" name="cleaning-frequency-name" value="">
                            </div>
                        </fieldset>
                    </form>
                    <div class="row margin-top-30 flex-box">
                        <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>BASIC SERVICE</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="basic-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="basic-service-total-cost" name="basic-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>1 Bathroom cleaning</li>
                                    <li>Up to 3 bedrooms cleaning</li>
                                    <li>1 Livingroom cleaning</li>
                                    <li>Small kitchen (0 - 150 ft2)</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Garage cleaning</li>-->
                                    <li>Up to 2 additional rooms cleaning</li>
                                    <!--<li>Wiping the dust from furniture</li>
                                    <li>Cleaning window sills</li>
                                    <li>Cleaning mirrors</li>
                                    <li>Vacumming floors and floor coverings</li>
                                    <li>Emptying garbage cans</li>
                                    <li>Cleaning kitchen worktops, sink and hob</li>
                                    <li>Cleaning toilets and bathroom fixtures</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="basic-service-bathrooms" name="bathrooms" value="1">
                                    <input type="hidden" id="basic-service-bedrooms" name="bedrooms" value="3">
                                    <input type="hidden" id="basic-service-livingrooms" name="livingrooms" value="1">
                                    <input type="hidden" id="basic-service-kitchen-size" name="kitchen-size" value="15">
                                    <input type="hidden" id="basic-service-bathroom-includes" name="bathroom-includes" value="">
                                    <input type="hidden" id="basic-service-pets" name="pets" value="0">
                                    <input type="hidden" id="basic-service-cleaning-supplies" name="cleaning-supplies" value="0">
                                    <input type="hidden" id="basic-service-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="basic-service-play-room" name="play-room" value="0">
                                    <input type="hidden" id="basic-service-laundry" name="laundry" value="0">
                                    <input type="hidden" id="basic-service-gym" name="gym" value="0">
                                    <input type="hidden" id="basic-service-garage" name="garage" value="20">
                                    <input type="hidden" id="basic-service-refrigerator-clean" name="refrigerator-clean" value="0">
                                    <input type="submit" name="submit_basic" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                        <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>PREMIUM SERVICE</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="premium-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="premium-service-total-cost" name="premium-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>Up to 2 bathrooms cleaning</li>
                                    <li>Up to 4 bedrooms cleaning</li>
                                    <li>Up to 2 livingrooms cleaning</li>
                                    <li>Medium kitchen (151 - 250 ft2)</li>
                                    <li>Pets hair removing</li>
                                    <li>Up to 5 additional rooms cleaning</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Play room cleaning</li>
                                    <li>Laundry cleaning</li>
                                    <li>Gym cleaning</li>
                                    <li>Garage cleaning</li>
                                    <li>The scope of basic service +</li>
                                    <li>Washing floors</li>
                                    <li>Cleaning lamps and heaters</li>
                                    <li>Cleaning of bathroom and kitchen tiles</li>
                                    <li>Cleaning cabinets fronts</li>
                                    <li>Cleaning doors and doorframes</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="premium-service-bathrooms" name="bathrooms" value="2">
                                    <input type="hidden" id="premium-service-bedrooms" name="bedrooms" value="4">
                                    <input type="hidden" id="premium-service-livingrooms" name="livingrooms" value="2">
                                    <input type="hidden" id="premium-service-kitchen-size" name="kitchen-size" value="20">
                                    <input type="hidden" id="premium-service-bathroom-includes" name="bathroom-includes" value="10">
                                    <input type="hidden" id="premium-service-pets" name="pets" value="30">
                                    <input type="hidden" id="premium-service-cleaning-supplies" name="cleaning-supplies" value="300">
                                    <input type="hidden" id="premium-service-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="premium-service-play-room" name="play-room" value="15">
                                    <input type="hidden" id="premium-service-laundry" name="laundry" value="0">
                                    <input type="hidden" id="premium-service-gym" name="gym" value="17">
                                    <input type="hidden" id="premium-service-garage" name="garage" value="20">
                                    <input type="hidden" id="premium-service-refrigerator-clean" name="refrigerator-clean" value="0">
                                    <input type="submit" name="submit_premium" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                        <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>POST RENOVATION</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="post-renovation-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="post-renovation-service-total-cost" name="post-renovation-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>Up to 3 bathrooms cleaning</li>
                                    <li>Up to 6 bedrooms cleaning</li>
                                    <li>Up to 3 livingrooms cleaning</li>
                                    <li>Large kitchen (>250 ft2)</li>
                                    <li>Pets hair removing</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Play room cleaning</li>
                                    <li>Laundry cleaning</li>
                                    <li>Gym cleaning</li>
                                    <li>Garage cleaning</li>-->
                                    <li>Up to 5 additional rooms cleaning</li>
                                    <li>Refrigerator cleaning</li>
                                    <!--<li>The scope of premium service +</li>
                                    <li>Dust removal after renovation</li>
                                    <li>Cleaning cabinets inside</li>
                                    <li>Cleaning windows and window frames</li>
                                    <li>Washing the inside of the refrigerator</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="post-renovation-bathrooms" name="bathrooms" value="3">
                                    <input type="hidden" id="post-renovation-bedrooms" name="bedrooms" value="6">
                                    <input type="hidden" id="post-renovation-livingrooms" name="livingrooms" value="3">
                                    <input type="hidden" id="post-renovation-kitchen-size" name="kitchen-size" value="25">
                                    <input type="hidden" id="post-renovation-bathroom-includes" name="bathroom-includes" value="15">
                                    <input type="hidden" id="post-renovation-pets" name="pets" value="30">
                                    <input type="hidden" id="post-renovation-cleaning-supplies" name="cleaning-supplies" value="500">
                                    <input type="hidden" id="post-renovation-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="post-renovation-play-room" name="play-room" value="15">
                                    <input type="hidden" id="post-renovation-laundry" name="laundry" value="14">
                                    <input type="hidden" id="post-renovation-gym" name="gym" value="17">
                                    <input type="hidden" id="post-renovation-garage" name="garage" value="20">
                                    <input type="hidden" id="post-renovation-refrigerator-clean" name="refrigerator-clean" value="20">
                                    <input type="submit" name="submit_post_renovation" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-59 padding-bottom-60 align-center">
                <h3><span class="button-label">SEE MORE CALCULATOR EXAMPLES</span> <a class="more" href="?page=service_calculator" title="Service calculator">Service calculator</a></h3>
            </div>
            <div class="row full-width padding-top-112 padding-bottom-115 parallax parallax-3 overlay">
                <div class="row testimonials-container">
                    <a href="#" class="slider-control left template-arrow-horizontal-3"></a>
                    <ul class="testimonials-list testimonials-carousel">
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>Cleanmate cleaned my home today - they did a terrific job. They even moved the folding chairs beside the washer to be sure the laundry floor was cleaned - they really paid attention to detail. Thank you!</p>
                            <h6>STACEY, NORTH LYNNWOOD</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>We would like to thank Cleanmate company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time.</p>
                            <h6>MARK, SOUTH EVERETT</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="testimonials-icon template-quote"></div>
                            <p>Cleanmate cleaned my home today - they did a terrific job. They even moved the folding chairs beside the washer to be sure the laundry floor was cleaned - they really paid attention to detail. Thank you!</p>
                            <h6>ANTHONY, BELLEVUE</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                    </ul>
                    <a href="#" class="slider-control right template-arrow-horizontal-3"></a>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">SELECTED PROJECTS</h2>
                    <p class="description align-center">Explore completed projects.</p>
                    <div class="carousel-container margin-top-65 clearfix">
                        <ul class="projects-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="?page=project_apartment_cleaning" title="Apartment Cleaning">
                                    <img src="images/samples/480x320/placeholder.jpg" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="?page=project_apartment_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_gutter_cleaning" title="Gutter Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="?page=project_gutter_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_move_in_out" title="Move In Out">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="?page=project_move_in_out" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_after_renovation_cleaning" title="After Renovation Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>After Renovation Cleaning</p>
                                            <a class="more simple" href="?page=project_after_renovation_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_house_cleaning" title="House Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>House Cleaning</p>
                                            <a class="more simple" href="?page=project_house_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_garden_maintenance" title="Garden Maintenance">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Garden Maintenance</p>
                                            <a class="more simple" href="?page=project_garden_maintenance" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_apartment_cleaning" title="Apartment Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="?page=project_apartment_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_gutter_cleaning" title="Gutter Cleaning">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="?page=project_gutter_cleaning" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="?page=project_move_in_out" title="Move In Out">
                                    <img src="{{ asset('assets/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="?page=project_move_in_out" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
