{% extends 'admin/base.html.twig' %}

{% block title 'Les Articles' %}


{% block body %}
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Toutes les pages</h4>
                        <div class="heading-elements">
                            <a href="{{ path('app_admin_page_add') }}" type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1">Ajouter</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table alt-pagination customer-wrapper">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Code Name</th>
                                    <th>Etat</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pages %}
                                {% for page in pages %}
                                    <tr>
                                        <td class="align-middle">
                                            <div class="name">{{ page.title }}</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="email">{{ page.codeName }}</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="skin skin-flat">
                                                <fieldset>
                                                    <input type="checkbox" id="input-16" {% if page.isActive == true %}checked {% else %} unchecked {% endif %}>
                                                </fieldset>
                                            </div>

                                        </td>
                                        <td class="align-middle">
                                            <div class="tickets">{{ page.description }}</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="option ">
                                                <a href="{{ path('app_admin_page_edit', {'id': page.id}) }}"><i class="la la-pencil-square success"></i></a>
                                                <a href="#"><i class="la la-trash danger"></i></a>
                                            </div>
                                        </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorscss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
{% endblock %}

{% block vendorsjs %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
{% endblock %}

{% block pagesjs  %}
    <script src="{{ asset('app-assets/js/scripts/pages/support-customers.js') }}"></script>
{% endblock %}
